/* 
Media Queries
Responsive Design
Style Elements On Different Screen Sizes 
min-width: --- starting from
max-width: --- up to


-------------------------------Mobile First-----------------------------
--------- Now, what happens in this is that you can put up a definite 
width from where the changes can take place 
--------- Donot mess up the format, cuz if you do that then changes won't 
show up into the browser. 
--------- Suppose you have written border-radius in one of the media query
but you unknowingly overwrote it with the other media query which didn't 
include border-radius, but despite of one meida query overwriting the 
other it won't overwrite border-radius, why? 

Because you hadn't written border-radius on the other media query so what 
would it overwrite? LOL !

SYNTAX: @media screen and (min-width/max-width: ){

}




*/

body {
  background: red;
}

.banner {
  background: blue;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  border: 2px solid black;
}

@media only screen and (min-width: 100px) {
  body {
    background: blue;
  }
  .banner {
    background: yellow;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}

@media only screen and (min-width: 500px) {
  body {
    background: green;
  }
  h1 {
    text-transform: uppercase;
    color: red;
  }
}

@media screen and (min-width: 700px) {
  body {
    background: orange;
  }
  h1 {
    border-radius: 6px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    background: pink;
  }
}
