.two {
  border: 2px solid black;
}

.two {
  clear: left;
  position: relative;
  top: 40px;
  left: 0px;
}

button {
  /* position: absolute;
  top: 0; */

  position: fixed;
  right: 0px;
  bottom: 0px;
  background: crimson;
  width: 30px;
  height: 25px;
  border-radius: 5px;
}

.one {
  float: left;
  width: 50vw;
}
