/* 
Pseudo elements 
::before  ::after CONTENT not element 
content:'' --- required
img --- does not work


------- 1. If you want to insert something in the pseudo
you must compulsorily wirte content: "";

------- 2. Image cannot have "content:" property because
image itself is a content. 


*/

p::before {
  content: "hello ";
  display: block;
  background: black;
  font-weight: bold;
  font-size: 2rem;
  color: red;
}

p::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: green;
}

div {
  width: 30vw;
  margin: 100px auto;
  border: 2px solid red;
  box-sizing: border-box;
}

img {
  width: 100%;
  /* display: block; */
}
/* 
div::before {
  content: "";
  border: 2px solid grey;
} */
